File ini bertujuan untuk digunakan apabila ingin mengerjakan bersama tim.
Sehingga file ini akan terupload ke github repo, dan menunjukkan .env apa saja yang dibutuhkan agar projek berjalan.

# SUPABASE
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# MIDTRANS
NEXT_PUBLIC_MIDTRANS_API_URL=
NEXT_PUBLIC_MIDTRANS_CLIENT_KEY=
MIDTRANS_SERVER_KEY=

# RESEND
RESEND_API_KEY=